Class[appliedStereotypes~="Class"] {
	fillColor: #ffffce;
}

Class[appliedStereotypes~="Class"][isAbstract="true"] {
	fillColor: #ebebbe;
}

Class[appliedStereotypes~="Trait"] {
	fillColor: lightGreen;
	lineColor: black;
}

Package[appliedStereotypes~="Folder"] {
	fillColor: lightYellow;
}

Package[appliedStereotypes~="Package"] {
	fillColor: orange;
	lineColor: black;
}

[appliedStereotypes~="Package Tag"] {
	fillColor: lightBlue;	
}