Class {
	fillColor: #ffffce;
}

Class[isAbstract="true"] { 
	fillColor: #ebebbe;
}

Package {
	fillColor: orange;
}

[appliedStereotypes~="Trait"] {
	fillColor: lightGreen;
	lineColor: black;
}

[appliedStereotypes~="Package Tag"] {
	fillColor: lightBlue;	
}